* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter";
  color: black;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.hero__container {
  background: url("../image/fashion.png") center/cover no-repeat;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 180px;
  color: white;
}
.header__logo {
  width: 50px;
  height: 50px;
}
.header__language {
  font-size: 15px;
  font-weight: 500;
}
.header__language::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-image: url("../image/mini-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translate(100%, -50%);
      -ms-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}
.header__navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.header__navi-link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.header__navi-link:hover {
  text-decoration: underline;
}
.header__sound {
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.header__sound::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../image/mini-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.hero {
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 30px;
  color: white;
}
.hero__accent {
  display: grid;
  grid-template-columns: 233px auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "up up link" "date down link";
  justify-items: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 200px;
}
.hero__title-up {
  grid-area: up;
  font-size: 140px;
  font-weight: 400;
  text-transform: uppercase;
}
.hero__title-down {
  grid-area: down;
  font-size: 140px;
  font-weight: 400;
  text-transform: uppercase;
}
.hero__date {
  grid-area: date;
}
.hero__link {
  grid-area: link;
  text-decoration: none;
  color: white;
  justify-self: end;
  align-self: center;
}
.hero__link-cover {
  width: 139px;
  height: 139px;
  border: 1px solid white;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__link-cover:hover {
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
.hero__link-cover_xs {
  width: 139px;
  height: 139px;
  border: 1px solid white;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__link-text {
  max-width: 94px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__about-company {
  font-size: 15px;
  font-weight: 400;
}
.hero__social-media {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  font-size: 15px;
  font-weight: 400;
}
.hero__social-media-item-link {
  text-decoration: none;
  color: white;
}
.hero__social-media-item-link:hover {
  opacity: 0.5;
}

.news {
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 140px;
  overflow: hidden;
}
.news__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}
.news__cards {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  border-top: 1px solid rgb(217, 217, 217);
}
.card__date {
  color: #4b4b4b;
  font-size: 16px;
  margin-bottom: 10px;
}
.card__image-big {
  margin-bottom: 15px;
}
.card__image-small {
  margin-bottom: 15px;
}
.card__model-name {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
.card__magazine {
  text-transform: uppercase;
  color: #4b4b4b;
  font-size: 18px;
  font-weight: 400;
}

.newbies {
  padding-top: 140px;
  max-width: 1360px;
  margin: 0 auto;
}
.newbies__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.modelcard {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  border-top: 1px solid rgb(217, 217, 217);
  position: relative;
}
.modelcard__main-image {
  max-height: 686px;
}
.modelcard__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.modelcard__image-big {
  max-height: 548px;
  max-width: 459px;
}
.modelcard__image-medium {
  max-height: 355px;
  max-width: 281px;
}
.modelcard__image-medium_down {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.modelcard__image-small {
  max-height: 269px;
  max-width: 213px;
}
.modelcard__image-small_fixed {
  position: absolute;
  bottom: 0;
  right: 0;
}
.modelcard__link {
  text-decoration: none;
}
.modelcard__link_right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.modelcard__link-cover {
  width: 150px;
  height: 150px;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modelcard__link-cover_xs {
  width: 59px;
  height: 59px;
}
.modelcard__link-text {
  max-width: 94px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
}
.modelcard__link-show-all {
  text-decoration: none;
}
.w100 {
  width: 100%;
  max-width: 100%;
}

.modelcard:last-of-type {
  border-bottom: 1px solid rgb(217, 217, 217);
}

.info__name {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
.info__description {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  max-width: 420px;
  color: #4b4b4b;
}
.info__instagram {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.info__instagram-cover {
  width: 42px;
  height: 42px;
  border: 1px solid #d1d1d1;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info__logo-instagram {
  width: 24px;
  height: 24px;
}
.info__logo-instagram_red {
  background-color: red;
}

.superstars {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 140px;
  max-width: 1360px;
  margin: 0 auto;
}
.superstars__title {
  text-transform: uppercase;
  color: black;
  position: relative;
  font-size: 156px;
}
.superstars__title::before {
  content: "Celebrity";
  font-size: 370px;
  text-transform: uppercase;
  color: rgb(245, 245, 245);
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.next__img {
  padding: 20px;
  border: 1px solid #000;
  border-radius: 50%;
}