* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter";
    color: black;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

.hero__container {
    background: url("../image/fashion.png") center / cover no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 180px;
    color: white;

    &__logo {
        width: 50px;
        height: 50px;
    }

    &__language {
        font-size: 15px;
        font-weight: 500;
    }

    &__language::after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        background-image: url("../image/mini-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        transform: translate(100%, -50%);
    }

    &__navi {
        display: flex;
        gap: 40px;
    }

    &__navi-link {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: 400;
    }

    &__navi-link:hover {
        text-decoration: underline;
    }

    &__sound {
        font-size: 14px;
        font-weight: 400;
        position: relative;
    }

    &__sound::before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url("../image/mini-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        // position: absolute;
        // top: 0;
        // left: 0;
        transform: rotate(-90deg);
    }
}

.hero {
    max-width: 1360px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 30px;
    color: white;
    // padding-top: 20px;

    &__accent {
        display: grid;
        grid-template-columns: 233px auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "up up link"
            "date down link";
        justify-items: start;
        align-items: end;
        padding-bottom: 200px;
    }

    &__title-up {
        grid-area: up;
        font-size: 140px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__title-down {
        grid-area: down;
        font-size: 140px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__date {
        grid-area: date;
    }

    &__link {
        grid-area: link;
        text-decoration: none;
        color: white;
        justify-self: end;
        align-self: center;
    }

    &__link-cover {
        width: 139px;
        height: 139px;
        border: 1px solid white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link-cover:hover {
        backdrop-filter: blur(7px);
    }

    &__link-cover_xs {
        width: 139px;
        height: 139px;
        border: 1px solid white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link-text {
        max-width: 94px;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__about-company {
        font-size: 15px;
        font-weight: 400;
    }

    &__social-media {
        list-style-type: none;
        display: flex;
        gap: 50px;
        font-size: 15px;
        font-weight: 400;
    }

    &__social-media-item {
    }

    &__social-media-item-link {
        text-decoration: none;
        color: white;
    }

    &__social-media-item-link:hover {
        opacity: 0.5;
    }
}

.news {
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 140px;
    overflow: hidden;

    &__title {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__cards {
        padding-top: 30px;
        display: flex;
        gap: 30px;
        border-top: 1px solid rgb(217, 217, 217);
    }

    &__card {
    }
}
.card {
    &__date {
        color: #4b4b4b;
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__image-big {
        margin-bottom: 15px;
    }

    &__image-small {
        margin-bottom: 15px;
    }

    &__model-name {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    &__magazine {
        text-transform: uppercase;
        color: #4b4b4b;
        font-size: 18px;
        font-weight: 400;
    }
}

.newbies {
    padding-top: 140px;
    max-width: 1360px;
    margin: 0 auto;

    &__title {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 30px;
    }
}

.modelcard {
    padding: 30px 0;
    display: flex;
    gap: 30px;
    border-top: 1px solid rgb(217, 217, 217);
    position: relative;

    &__main-image {
        max-height: 686px;
    }

    &__container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    &__image-big {
        max-height: 548px;
        max-width: 459px;
    }

    &__image-medium {
        max-height: 355px;
        max-width: 281px;

        &_down {
            align-self: flex-end;
        }
    }

    &__image-small {
        max-height: 269px;
        max-width: 213px;

        &_fixed {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    &__link {
        text-decoration: none;

        &_right {
            align-self: flex-end;
        }
    }

    &__link-cover {
        width: 150px;
        height: 150px;
        border: 1px solid #d1d1d1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &_xs {
            width: 59px;
            height: 59px;
        }
    }

    &__link-text {
        max-width: 94px;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        color: black;
    }

    &__link-show-all {
        text-decoration: none;
    }

    &__img-arrow {
    }
}

.w100 {
    width: 100%;
    max-width: 100%;
}

.modelcard:last-of-type {
    border-bottom: 1px solid rgb(217, 217, 217);
}

.info {
    &__name {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    &__description {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 15px;
        max-width: 420px;
        color: #4b4b4b;
    }

    &__instagram {
        display: inline-flex;
    }

    &__instagram-cover {
        width: 42px;
        height: 42px;
        border: 1px solid #d1d1d1;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo-instagram {
        width: 24px;
        height: 24px;

        &_red {
            background-color: red;
        }
    }
}

.superstars {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 140px;
    max-width: 1360px;
    margin: 0 auto;

    &__title {
        text-transform: uppercase;
        color: black;
        position: relative;
        font-size: 156px;
    }

    &__title::before {
        content: "Celebrity";
        font-size: 370px;
        text-transform: uppercase;
        color: rgba(245, 245, 245, 1);
        z-index: -1;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.next {
    display: flex;
    justify-content: center;
    // .next__img
    &__img {
        padding: 20px;
        border: 1px solid #000;
        border-radius: 50%;
    }
}
